@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.calc {
    width: 345px;
    height: 500px;
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    padding: 17px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: 10px 5px 5px rgb(88, 88, 88);
}

.display {
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 332px;
    height: 60px;
    align-self: center;
    padding-right: 5px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    font-family: Orbitron, sans-serif;
    border-radius: 8px;
    background-color: rgb(201, 201, 201);
    color: rgb(63, 63, 63);
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons button {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 500;
    width: 80px;
    height: 70px;
    margin: 2px;
    border-radius: 8px;
    background-color: white;
}

#clear, #delete {
    width: 164px;
}

#clear, #delete, #add, #divide, #multiply, #dot, #equal, #subtract {
    background-color:rgb(83, 83, 83);
    color: white;
}